.color-quote {
    color: #fcdb5e;
}

.quote i {
    font-size: 2rem;
}

.quote {
    border-left: .35rem solid #fcdb5e;
    border-top: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

/* tithe css */

#price {
    font-weight: bold;
    display: inline-flex;
    align-items: center;
}

.discount {
    color: #fcdb5e;
    font-style: italic;
    /* font-size: 14px; */
    margin-left: 5px;
}